@charset "UTF-8";


*{
    padding: 0px;
    margin: auto;
}
:root{
    --cor0: #113859;
    --cor1: #275D8C;
    --cor2: #73A9D9;
    --cor3: #9BDAF2;
    --cor4: #42858C;
}
body{
    background-color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-color: var(--cor2);
    text-align: center;
    font-weight: bolder;
    width: 820px; 
    padding-top: 20px;
    color: black;
}

div.myself{
    background-color: lightgray;
    padding: 10px;
    width: 800px;
    margin-top: 20px;
}
div.myself > img{
    width: 500px;
    border-radius: 75%;
    padding-top: 5px;
}
div.project{
    background-color: lightgray;
    width: 820px;
    height: 500px;
    margin-top: 20px;
}
div.project>h1{
    padding: 10px;
}
/* Inserindo o Card */
/* From uiverse.io by @alexruix */
.card {
    height: 254px;
    width: 190px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    ;
}
   
    /*Image*/
.card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
}
   
   /*Description */
.card-description {
    display: flex;
    position: absolute;
    gap: 1em;
    flex-direction: column;
    background-color: #f5f5f5;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}
   
   /*Text*/
.text-title {
    font-size: 1.4em;
    font-weight: 700;
}
   
.text-body {
    font-size: 1em;
    line-height: 150%;
    text-align: center;
}
   
   
   /* Hover states */
   
.card:hover .card-description {
    transform: translateY(100%);
}
   
   
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}