@charset "UTF-8";


*{
    padding: 0px;
    margin: auto;
}
:root{
    --cor0: #113859;
    --cor1: #275D8C;
    --cor2: #73A9D9;
    --cor3: #9BDAF2;
    --cor4: #42858C;
}
body{
    background-color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-color: var(--cor2);
    text-align: center;
    font-weight: bolder;
    width: 820px; 
    padding-top: 20px;
    color: black;
}

div.myself{
    background-color: lightgray;
    padding: 10px;
    width: 800px;
    margin-top: 20px;
}
div.myself > img{
    width: 500px;
    border-radius: 75%;
    padding-top: 5px;
}
div.project{
    background-color: lightgray;
    width: 820px;
    height: 500px;
    margin-top: 20px;
}
div.project>h1{
    padding: 10px;
}
div.fake{
    width: 150px;
    height: 100px;
    display: inline-block;
    background-color: lightblue;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}